@{
    ViewData["Title"] = "Home Page";
}

<h1 style="text-align:center" class="display-4">Movie Reference</h1>

    <div style="text-align:center">
        <p>Directory of Movies and the actors that starred in them.</p>
    </div>

    <div style="text-align:center"class="container">
        <div class="row">
            <div class="col">
                <div class="card h-100">
                    <img src="/images/hollywood.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Hollywood in website form</h5>
                        <p class="card-text">Learn about your favorite movies!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/leo.jpg" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Keep up with the best!</h5>

                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-100">
                    <img src="/images/take.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Browse to your own content</h5>
                        <p class="card-text">Or add to the database if you'd like!</p>

                    </div>
                </div>
            </div>
        </div>
    </div>



